body {
  margin: 0px;
  background-color: #BA0025;
  font-family: sans-serif;
  color: white;
}

#content {
	padding: 50px;
}

#header {
  height: 100px;
  font-size: 100px;
  padding: 50px 50px 40px 50px;
  border-bottom: solid white 10px;
}
